In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# Column Descriptions

# City: The name of the city where the air quality measurement was taken.
# Country: The country in which the city is located.
# Date: The date when the measurement was recorded.
# PM2.5: The concentration of fine particulate matter with a diameter of less than 2.5 micrometers (µg/m³).
# PM10: The concentration of particulate matter with a diameter of less than 10 micrometers (µg/m³).
# NO2: The concentration of nitrogen dioxide (µg/m³).
# SO2: The concentration of sulfur dioxide (µg/m³).
# CO: The concentration of carbon monoxide (mg/m³).
# O3: The concentration of ozone (µg/m³).
# Temperature: The temperature at the time of measurement (°C).
# Humidity: The humidity level at the time of measurement (%).
# Wind Speed: The wind speed at the time of measurement (m/s).

In [16]:
df = pd.read_csv('C:/Users/james/james-jarman-portfolio/Python_Project/data/global_air_quality_data_10000.csv')
df.head()

,City,Country,Date,PM2.5,PM10,NO2,SO2,CO,O3,Temperature,Humidity,Wind Speed
0,Bangkok,Thailand,2023-03-19,86.57,25.19,99.88,30.63,4.46,36.29,17.67,59.35,13.76
1,Istanbul,Turkey,2023-02-16,50.63,97.39,48.14,8.71,3.40,144.16,3.46,67.51,6.36
2,Rio de Janeiro,Brazil,2023-11-13,130.21,57.22,98.51,9.92,0.12,179.31,25.29,29.30,12.87
3,Mumbai,India,2023-03-16,119.70,130.52,10.96,33.03,7.74,38.65,23.15,99.97,7.71
4,Paris,France,2023-04-04,55.20,36.62,76.85,21.85,2.00,67.09,16.02,90.28,14.16

In [24]:
df.shape

(10000, 12)

In [18]:
df.isnull().sum()

City           0
Country        0
Date           0
PM2.5          0
PM10           0
NO2            0
SO2            0
CO             0
O3             0
Temperature    0
Humidity       0
Wind Speed     0
dtype: int64

In [20]:
df.dtypes

City            object
Country         object
Date            object
PM2.5          float64
PM10           float64
NO2            float64
SO2            float64
CO             float64
O3             float64
Temperature    float64
Humidity       float64
Wind Speed     float64
dtype: object

In [23]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
print(df['Date'].dtype)
df.head()

datetime64[ns]

,City,Country,Date,PM2.5,PM10,NO2,SO2,CO,O3,Temperature,Humidity,Wind Speed
0,Bangkok,Thailand,2023-03-19,86.57,25.19,99.88,30.63,4.46,36.29,17.67,59.35,13.76
1,Istanbul,Turkey,2023-02-16,50.63,97.39,48.14,8.71,3.40,144.16,3.46,67.51,6.36
2,Rio de Janeiro,Brazil,2023-11-13,130.21,57.22,98.51,9.92,0.12,179.31,25.29,29.30,12.87
3,Mumbai,India,2023-03-16,119.70,130.52,10.96,33.03,7.74,38.65,23.15,99.97,7.71
4,Paris,France,2023-04-04,55.20,36.62,76.85,21.85,2.00,67.09,16.02,90.28,14.16

In [26]:
df.duplicated().sum()

np.int64(0)