In [1]:
import pandas as pd

df = pd.read_csv('candy_sales.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost
0,282,US-2021-128055-CHO-TRI-54000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60
1,288,US-2021-128055-CHO-SCR-58000,2021-03-31,2026-09-26,Standard Class,128055,United States,San Francisco,California,94122,Chocolate,Pacific,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,7.20,2,5.00,2.20
2,1132,US-2021-138100-CHO-FUD-51000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-FUD-51000,Wonka Bar - Fudge Mallows,7.20,2,4.80,2.40
3,1133,US-2021-138100-CHO-MIL-31000,2021-09-15,2027-03-13,Standard Class,138100,United States,New York City,New York,10011,Chocolate,Atlantic,CHO-MIL-31000,Wonka Bar - Milk Chocolate,9.75,3,6.33,3.42
4,3396,US-2022-121391-CHO-MIL-31000,2022-10-04,2028-03-29,First Class,121391,United States,San Francisco,California,94109,Chocolate,Pacific,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28

In [2]:
print(df['Region'].unique())
print(df['State/Province'].unique())

['Pacific' 'Atlantic' 'Interior' 'Gulf']
['California' 'New York' 'Texas' 'Minnesota' 'Nebraska' 'Oregon'
 'Tennessee' 'Arizona' 'Georgia' 'Rhode Island' 'Connecticut' 'Missouri'
 'Michigan' 'North Carolina' 'Pennsylvania' 'Massachusetts' 'Oklahoma'
 'Kentucky' 'Washington' 'Virginia' 'New Hampshire' 'Indiana' 'Illinois'
 'British Columbia' 'Colorado' 'Ohio' 'Mississippi' 'New Mexico' 'Florida'
 'Louisiana' 'Montana' 'New Jersey' 'Utah' 'Ontario' 'Nevada' 'Wisconsin'
 'Alabama' 'Maryland' 'South Carolina' 'Quebec' 'Iowa' 'Kansas' 'Delaware'
 'South Dakota' 'Vermont' 'Arkansas' 'North Dakota' 'District of Columbia'
 'Idaho' 'West Virginia' 'Alberta' 'Prince Edward Island' 'Manitoba'
 'Newfoundland and Labrador' 'Maine' 'Wyoming' 'New Brunswick'
 'Nova Scotia' 'Saskatchewan']